Flask==2.0.2
Jinja2==3.0.3
MarkupSafe==2.0.1
Werkzeug==2.0.3
click==8.0.3
importlib-metadata==4.8.2
itsdangerous==2.0.1
opencv-python-headless==4.5.5.64
numpy>=1.21.3
tensorflow==2.10.0
Keras==2.10.0
yoloface==0.0.1
python-telegram-bot==13.11
ipython==8.4.0
